name: Node CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  install_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
      
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
        
      - name: Instalar dependencias
        run: npm ci

      - name: Ejecutar pruebas
        run: npm test
    
  build-docker:
    needs: install_test
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
      
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build y push de la imagen
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/promo-sdi:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/promo-sdi:${{ github.sha }}
